@use './variables' as vars;
@use './mixin';
@use './transition';
@use './element-ui';
@use './sidebar';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// Make variables available globally
:root {
  --side-bar-width: #{vars.$sideBarWidth};
  --menu-bg: #{vars.$menuBg};
  --menu-hover: #{vars.$menuHover};
  --menu-text: #{vars.$menuText};
  --menu-active-text: #{vars.$menuActiveText};
  --sub-menu-bg: #{vars.$subMenuBg};
  --sub-menu-hover: #{vars.$subMenuHover};
  --sub-menu-active-text: #{vars.$subMenuActiveText};
}
